# ==========================================
# 1. Python環境 & 仮想環境
# ==========================================
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]

# ==========================================
# 2. データファイル（大容量 & コンペ用データ）
# ==========================================
# data/input/
# data/output/
# *.csv
# *.parquet

# ==========================================
# 3. ログ & 学習済みモデル & 一時フォルダ
# ==========================================
logs/
saved_models/
catboost_info/
src/catboost_info/
*.cbm
*.model
*.gbtree
*.bin

# ==========================================
# 4. Jupyter Notebook 関連
# ==========================================
.ipynb_checkpoints/

# ==========================================
# 5. OS・エディタ設定ファイル（Mac / VS Code）
# ==========================================
.DS_Store
.vscode/
.idea/